.town-name {
    font-size: x-large;
    font-weight: bolder;
}
.weather-section {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
}

.unit-indicator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.unit-btns {
    margin: 0;
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 5px;
}

.active-unit-btn {
    background-color: #ea4f54;
    border-radius: 15px;
}

.weather-img {
    height: 50px;
    width: 50px;
}